### Input Code 
```{{ lang1 }}
{{ code1 }}
```

### Translated Code
```{{ lang2 }}
{{ code2 }}
```

### Execution feedback
{{ error_message }}

{{ diff }}


We are trying to translate {{ lang1 }} code to {{ lang2 }} and get above feedback.
Your task is to compare the {{ lang1 }} and {{ lang2 }} version code and localize the bug.

Let's localize the bug, then output the corresponding {{ lang1 }} code snippet in the end.


Notes
1. Do not output corrected {{ lang2 }} code. That's for next step.
2. Think about the syntactic and semantic differences between two languages. 
3. Devil is in the details.