### Input Code
```{{ lang1 }}
{{ code }}
```

Translate above {{ lang1 }} code to {{ lang2 }}.
Remember to keep the breakpoint statements that print values to stdout.

Output the translated code in the end.
