### Input Code Snippet
```{{ lang1 }}
{{ code }}
```

Translate above {{ lang1 }} code snippet to {{ lang2 }}.
Output the translated code snippet in the end.

Notes:
1. Devil is in the details.
2. Care about the syntactic and semantic differences between two languages. 